# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env.test
.env.production
.env.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
*.sw?

# Build outputs
dist/
build/
